.App {
  text-align: center;
}

.appLogo {
  height: 61vmin;
  pointer-events: none;
}
.name {
  height: 12vmin;
  pointer-events: none;
}

.bBack {
  height: 500px;

  background-image: url("../public/gardensummer.png");
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.appHeader {
  background-color: white;

  /* max-width: fit-content; */
  min-height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.appLink {
  color: #61dafb;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1fr, 2, 1fr);
  grid-auto-rows: minmax(10px, auto);
}

.wrapper div {
  padding: 1em;
}

.box {
  padding: 1em;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
